<header>
    <div class="container">
        <div class="head">
            <h1 class="head-title">Converter</h1>
            <div class="head-valutes">
                <div class="head-valutes__info">
                    <img src="assets/icons/dollar.png" alt="" class="head-valutes__img">
                    <div id="dollar" class="head-valutes__price">{{currency.usd}}</div>
                </div>
                <div class="head-valutes__info">
                    <img src="assets/icons/euro.png" alt="" class="head-valutes__img">
                    <div id="euro" class="head-valutes__price">{{currency.eur}}</div>
                </div>
            </div>
            <div class="head-refresh">
                <div id="refresh-text" class="head-refresh__text" >relevant for: {{currency.date}}</div>
            </div>
        </div>
    </div>
</header>
